{% extends 'base.html' %}
{% block content %}
    <div class="into">
        <h2 class="top">INTRODUCTION</h2>
        <p class="actual_text"> Hey everyone! My name is Rodrigo Luna Reyes, I´m currently part of a production engineering fellowship at MLH. 
        I’m from Mexico and I´m studying mechatronic engenering at Instituto Politécnico Nacional. Some of my hobbys are hanging out wih my friends,
         play baseball and videogames, by the way i´m a tecnology lover. In this site you can see my most importants tecnological projects and get in contact with me.</p>
    </div>
{% endblock %}
