{% extends 'base.html' %}
{% block content %}
<div class="mx-auto text-center" style="width: 300px;">
    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUser" class="sr-only">User</label>
        <input type="text" id="inputUser" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-dark btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">2021</p>
    </form>
</div>
{% endblock %}